@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.page-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 250px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
